
div {
  box-sizing: border-box;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.icon {
  margin-right: .5rem;
  font-size: 1.6rem;
  vertical-align: middle;
}

